<nav class="navbar">
  <div class="navbar-logo">Álláskereső</div>
  <div class="navbar-items" *ngIf="auth.currentUser; else login">
    <a routerLink="/home">Munkák</a>
    <ng-container *ngIf="auth.authLevel == 1; else myAds">
      <a routerLink="/my-apps">Jelentkezéseim</a>
    </ng-container>
    <ng-template #myAds>
      <a routerLink="/my-offers">Hírdetéseim</a>
    </ng-template>
    <!-- <a routerLink="/notifications">Értesítések</a> -->
    <div class="dropdown">
      <button class="dropbtn">{{ auth.userData?.name }}</button>
      <div class="dropdown-content">
        <a routerLink="/profile">Profilom</a>
        <a (click)="logout()">Kijelentkezés</a>
      </div>
    </div>
  </div>
  <ng-template #login>
    <div class="navbar-items">
      <a routerLink="/login">Bejelentkezés</a>
    </div>
  </ng-template>
</nav>
