.navbar {
  background-color: white;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  font-size: 1.2em;
  height: 80px;

  .navbar-logo {
    font-size: 1.8em;
    text-decoration: none;
    color: black;
    font-weight: bold;
  }

  .navbar-items {
    display: flex;
    align-items: center;
    a {
      display: block;
      padding: 15px 25px;
      text-decoration: none;
      color: #673ab7;
      border-radius: 30px;
      transition: background-color 0.3s, color 0.3s;

      &:hover {
        background-color: #673ab7;
        color: white;
      }
    }

    .dropdown {
      position: relative;

      .dropbtn {
        background-color: transparent;
        color: #673ab7;
        padding: 15px 25px;
        border: none;
        cursor: pointer;
        border-radius: 30px;
        font-size: inherit;
        transition: background-color 0.3s, color 0.3s;

        &:hover {
          background-color: #673ab7;
          color: white;
        }
      }

      .dropdown-content {
        display: none;
        position: absolute;
        background-color: white;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        right: 0;
        border-radius: 5px;
        overflow: hidden;

        a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
          transition: background-color 0.3s;

          &:hover {
            background-color: #eee;
          }
        }
      }

      &:hover .dropdown-content {
        display: block;
      }
    }
  }
}

@media (max-width: 770px) {
  .navbar-logo {
    display: none;
  }
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;

    .navbar-items {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;

      a {
        text-align: left;
        width: 100%;
      }

      .dropdown {
        width: 100%;


        .dropbtn {
          width: 100%;
          text-align: left;

        }

        .dropdown-content {
          width: 100%;
          right: 0;
          transform: none;

        }
      }
    }
  }
}
