<app-navbar/>
<div class="content">
  <div class="card-container">
    <h1>Jelentkezéseim</h1>
    <div class="cards">
      <mat-card *ngFor="let item of ads">
        <mat-card-title>
          {{item.name}}
        </mat-card-title>
        <mat-card-content>
          <div class="info">
            <mat-icon fontIcon="domain"></mat-icon> {{item.company}}<br>
            <mat-icon fontIcon="location_on"></mat-icon> {{item.employerAddress}}<br>
            <mat-icon fontIcon="attach_money"></mat-icon> <strong>{{item.salary}}</strong>
          </div>
          <p class="description">{{item.description}}</p>
          <p>✓ Jelentkezve</p>
          <div class="actions">
            <button color="warn" mat-raised-button (click)="onDeapplyPressed(item['id'])">✘ Jelenkezés törlése
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
